@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1d1d35;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 500px;
  width: 400px;
  background: #719482;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

.container .app-title {
  text-align-last: center;
  margin-top: 15px;
  text-transform: uppercase;
  color: #1e3e2f;
  font-size: 15px;
}

.container .height,
.container .weight {
  height: 175px;
  width: 310px;
  background: #9bb0a5;
  border-radius: 3px;
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.container .weight {
  top: 325px;
}

.container .calculate-btn {
  all: unset;
  height: 45px;
  width: 310px;
  color: #fff;
  background: #006fcc;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
}

.container .height p,
.container .weight p {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 27px;
  color: #001c0c;
  text-align: center;
  font-weight: 600;
}

.container .height input[type="range"],
.container .weight input[type="range"] {
  -webkit-appearance: none;
  height: 3px;
  width: 275px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background: #006fcc;
}

.container .height h4,
.container .weight h4 {
  font-size: 35px;
  text-align: center;
  position: relative;
  top: 15px;
}

.container .height h4 span,
.container .weight h4 span {
  font-size: 20px;
  color: #0f0f0f;
}

.container .result {
  height: 100%;
  width: 100%;
  display: none;
  transition: all 0.2s;
}

.container .result h3 {
  margin-top: 18px;
  margin-left: 20px;
  color: #fff;
  text-align: center;
}

.container .final-result {
  height: 400px;
  width: 300px;
  background: #476958;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 10px;
}

.container .result .final-result .health-status {
  margin-top: 25px;
  color: green;
  font-size: 17px;
  font-weight: 600;
}

.container .result .bmi {
  font-size: 65px;
  margin-top: -15px;
  font-weight: 300;
  color: #fff;
}

.container .result .final-result .n_b_r_text {
  margin-top: 20px;
  font-size: 19px;
  color: #f0f0f0;
}
.container .result .final-result .normal-range {
  font-size: 17px;
}

.container .result .final-result .range {
  white-space: nowrap;
  margin-top: 35px;
  font-size: 18px;
  margin-left: 5px;
  margin-left: 5px;
}

.container .final-result .go-back-btn {
  all: unset;
  height: 45px;
  width: 200px;
  color: #fff;
  background: #006fcc;
  text-align: center;
  border-radius: 13px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s;
}

.container .final-result .go-back-btn:hover,
.container .calculate-btn:hover {
  background-color: #2c9c8f;
  color: #fff;
}
